# Try 5 Different functions of the String in Python.

In [1]:
Name = "thanks to lets upgrade"

In [2]:
Name

'thanks to lets upgrade'

# catitalize the first string

In [3]:
name = Name.capitalize()

In [4]:
name

'Thanks to lets upgrade'

# Checking whether all letters are in lowercase

In [5]:
name.islower()

False

# Replace the first string

In [6]:
x=name.replace("Thanks","hello")

In [7]:
x

'hello to lets upgrade'

# join a string to an existed string

In [8]:
a = 'Hello,'
s = " ".join((a,name))

In [9]:
s

'Hello, Thanks to lets upgrade'

# Center aligning the string with some special characters

In [10]:
s.center(35,"\N{BLACK HEART SUIT}")

'â™¥â™¥â™¥Hello, Thanks to lets upgradeâ™¥â™¥â™¥'

# Fun with coding

In [11]:
R = s.split()

In [12]:
R

['Hello,', 'Thanks', 'to', 'lets', 'upgrade']

# Converting list to tuple

In [13]:
MT = tuple(R)

In [14]:
MT

('Hello,', 'Thanks', 'to', 'lets', 'upgrade')

In [16]:
M = "\U0001f600".join(MT)

In [17]:
M

'Hello,ðŸ˜€ThanksðŸ˜€toðŸ˜€letsðŸ˜€upgrade'

# Try 5 Different functions of the List object in Python

In [57]:
list = [7, 9, 1, 5, 19,15,25,21]

In [3]:
list.sort()

In [4]:
list

[1, 5, 7, 9, 15, 19, 21, 25]

In [5]:
list.append(40)

In [6]:
list

[1, 5, 7, 9, 15, 19, 21, 25, 40]

In [10]:
list.index(21)

6

In [12]:
max(list)

40

In [13]:
min(list)

1

In [15]:
list.extend([30,35])

In [16]:
list

[1, 5, 7, 9, 15, 19, 21, 25, 40, 30, 35]

In [18]:
len(list)

11

In [19]:
type(list)

list

In [58]:
list1 = [70,25,75]

In [59]:
for i in list:
    if i in list1:
        print(i)

25

# Experiment with at least 5 default functions of Dictionary

In [79]:
student = {"Rani": "60%",
          "Ravi":"70%",
          "Raju":"80%"}
X = student.get("Rani")
print(X)

60%

In [80]:
student.copy()

{'Rani': '60%', 'Ravi': '70%', 'Raju': '80%'}

In [81]:
student.update({"Ramu":"90%"})

In [82]:
student

{'Rani': '60%', 'Ravi': '70%', 'Raju': '80%', 'Ramu': '90%'}

In [83]:
student.values()

dict_values(['60%', '70%', '80%', '90%'])

In [84]:
student.setdefault("Rani","90%")

'60%'

In [86]:
student.pop("Ravi")

'70%'

In [87]:
student

{'Rani': '60%', 'Raju': '80%', 'Ramu': '90%'}

In [88]:
student.items()

dict_items([('Rani', '60%'), ('Raju', '80%'), ('Ramu', '90%')])